body {
  padding-bottom: 60px !important;
}

body>nav {
  background-color: #3097d1;
  border-color: #1c73a5;
  border-radius: 0;
}

body>nav {
  background-color: #3097d1;
  border-color: #1c73a5;
}
body>nav a {
  color: rgba(255, 255, 255, 0.8);
}
body>nav a:hover,
body>nav a:focus {
  color: #ffffff;
  background-color: transparent;
}

body>nav .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.8);
}
body>nav .navbar-nav > li > a:hover,
body>nav .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
body>nav .navbar-nav > .active > a,
body>nav .navbar-nav > .active > a:hover,
body>nav .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
}
body>nav .navbar-nav > .disabled > a,
body>nav .navbar-nav > .disabled > a:hover,
body>nav .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}

a:hover,
a:focus {
  text-decoration: none;
}

.navbar-brand {
    padding-left: 30px;
}

.search form {
  margin-right:0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-top: 7px;
  margin-bottom: 7px;
}

#page-body {
  margin: 60px 30px;
}

.aside {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #d3e0e9;
    border-radius: 4px;
}

#content .aside-title {
  margin-top: 0;
} 

#whatsnew {
	max-width:100%;
}

#form-status {
	width:100%;
}

#form-status button[type="submit"] {
	width:100px;
	max-width:100%;
}

#post-preview-img img {
	max-width:200px;
}

.item-list .media-left {
	width:65px;
}

.item-list .media-left .media-object {
	width:45px;
	height:45px;
}